.card {
    width: 150px;
    height: 150px;
    
    transition: 0.3s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
   
}
.card img {
    width: 95%;
    height: 95%;
}
.card .card-face {
   background-color: #219d7d;
   color: #fff;
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
 justify-content: center;
 align-items: center;
    align-items: center;
}

.card .card-face .qn{
   font-size: 34px;
}
.card .card-face.card-back-face {
   background-color: #fff;
   color: black;
    transform: rotateY(180deg);
   
}
.card.is-flipped {
    transform: rotateY(180deg);
}
.card.is-inactive {
    opacity: 0;
}
@media screen and (max-width: 800px) {
    .card {
        width: 90px;
        height: 90px;
      
       
    }
    .card .card-face p{
        font-size: 10px;
    }
}